.borderfordisplay {
    border: 3px solid black;
    
}
.Brygada {
    font-family: 'Brygada 1918', serif;
}
.Roboto{
    font-family: 'Roboto', sans-serif;
}
.columna{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-warning{
    background-color: #925438;
    border-color: #925438;
    color: #fff;
    
    
}
.btn-warning:hover{
background-color: #824b32;
color: #fff;
border-color: #824b32;
}
body{
    background: #f1f1f0 ;
}
h1{
    color: #193350;
}
.botonescentrados{
    display: flex;
    flex-direction: column;
    align-items: start;
    
    
}
@media screen  and (max-width: 767px){
    .columna{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .botonescentrados{
                align-items: center;
        
            }
}

/* font-family: 'Brygada 1918', serif; */